.hero {
    margin-top: 4rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
}


.hero__headshot {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
}


.hero__content {

    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}


.hero__social-container {
    margin-top: 1.5rem;
}


.typing-paragraph {
    /* padding-top: 1rem;
    padding-bottom: 1rem; */
}


#typing-paragraph__skills {
    background-color: var(--color-stone200)
}
