.hero {
    margin-top: 4rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
}


.hero__headshot {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
}


.hero__content {

    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.hero__social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.hero__social-icon {
    color: var(--color-grey-light);
    font-size: var(--font-size-x2);
    cursor: pointer;
    transition: 0.2s;
}

.hero__social-icon:hover {
    color: var(--color-font-indigo-base);
    transform: translateY(-2px);
}


/* mobile above 320 */
/* @media (min-width: 320px){} */

/* tablet above 481*/
@media (min-width: 481px) {
    .hero__social-icon {
        font-size: var(--font-size-x3);
    }
}

/* laptop and small screen above 769 */
@media (min-width: 769px) {
    .hero__social-icon {
        font-size: var(--font-size-x4);
    }
}

/* large screen and desktop above 1025 */
@media (min-width: 1025px) {
    .hero__social-icon {
        font-size: var(--font-size-x5);
    }
}

/* extra large screen above 1201 */
@media (min-width: 1201px) {
    .hero__social-icon {
        font-size: var(--font-size-x6);
    }
}

/* Extra Extra large */
/* @media (min-width: 1281px) {} */
