.skills__list {
    text-align: center;
    list-style: none;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.skills__technologies-list {
    display: flex;
    flex-direction: column;
    text-align: left;
    list-style: none;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    justify-content: center;
    align-items: center;
}



/* mobile above 320 */
/* @media (min-width: 320px){} */

/* tablet above 481*/
/* @media (min-width: 481px) {} */

/* laptop and small screen above 769 */
@media (min-width: 769px) {
    .skills__technologies-list {
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .skills__technology-item {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
}

/* large screen and desktop above 1025 */
/* @media (min-width: 1025px) {} */

/* extra large screen above 1201 */
/* @media (min-width: 1201px) {} */

/* Extra Extra large */
/* @media (min-width: 1281px) {} */
