.work__title {
    margin-bottom: 3rem;
}

.work__container {

    display: grid;
    grid-column-gap: 3rem;
    grid-row-gap: 2rem;
    grid-auto-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
    min-width: 25%;
    justify-content: center;
    
}

.work__project-contents {
    
    padding: 20px;
    margin-bottom: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;

}

/* .work__project-contents:last-child {
    margin-bottom: 0;
} */


.work__project-description {
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-xs);
}

.work__project-tools {
    font-size: var(--font-size-xxs);
    color: var(--color-stone400);
    font-weight: normal;
}

.work__project-title {
    text-align: left;
}


/* Match the size of your existing project image */
.work__img-grid {
  width: 100%;
  /* max-width: 280px;       */
  /* aspect-ratio: 4 / 3;    */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  /* gap: 4px; */
}

/* Make links fill grid cells */
.work__img-grid a {
  display: block;
  width: 100%;
  height: 100%;
}

/* Make images fill links */
.work__img-grid img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  display: block;
  /* border-radius: 4px; */
}



/* mobile above 320 */
/* @media (min-width: 320px){} */

/* tablet above 481*/
@media (min-width: 481px) {

    .work__project-description {
        font-size: var(--font-size-s);
    }

    .work__project-tools {
        font-size: var(--font-size-xs);
    }

    .work__project-contents {
        margin-bottom: 2rem;
    
    }
}

/* laptop and small screen above 769 */
@media (min-width: 769px) {
    
    .work__container {
        grid-template-columns: 1fr 1fr;
    }

    .work__project-description {
        font-size: var(--font-size-s);
    }

    .work__project-tools {
        font-size: var(--font-size-xs);
    }

    .work__project-contents {
        margin-bottom: 4rem;
    
    }
}

/* large screen and desktop above 1025 */
@media (min-width: 1025px) {

    .work__project-description {
        font-size: var(--font-size-base);
    }

    .work__project-tools {
        font-size: var(--font-size-xs);
    }
}

/* extra large screen above 1201 */
@media (min-width: 1201px) {

    .work__project-description {
        /* font-size: var(--font-size-x2); */
        font-size: var(--font-size-x1);
    }

    .work__project-tools {
        font-size: var(--font-size-s);
    }
}

/* Extra Extra large */
@media (min-width: 1281px) {
    
        .work__project-description {
            font-size: var(--font-size-x2);
        }

        .work__project-tools {
            font-size: var(--font-size-base);
        }
}


